<%= stylesheet_link_tag 'components/footer_second' %>

<div class="footer">

  <div class="icons">

    <div class="footer-key">
      <%= link_to "#", class:"icon-link" do %>
        <%= image_tag "twitter.png", class:"icon" %>
      <% end %>
      <%= link_to "#", class:"icon-link" do %>
        <%= image_tag "instagram.png", class:"icon" %>
      <% end %>
      <%= link_to "#", class:"icon-link" do %>
        <%= image_tag "facebook.png", class:"icon" %>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <div class="footer-key">
        <h5><%= current_user.name %></h5>
      </div>
    <% end %>

    <div class="footer-key">
      <div class="telephone">
        <%= image_tag "telephone.png", class:"icon" %>
        <p>000-0000-0000</p>
      </div>
    </div>

  </div>

</div>
