<div class="footer">

  <div class="icons">

    <div class="footer-key">
      <%= link_to "#", class:"icon-link" do %>
        <%= image_tag "twitter.png", class:"icon" %>
      <% end %>
      <%= link_to "#", class:"icon-link" do %>
        <%= image_tag "instagram.png", class:"icon" %>
      <% end %>
      <%= link_to "#", class:"icon-link" do %>
        <%= image_tag "facebook.png", class:"icon" %>
      <% end %>
    </div>

    <div class="footer-key">
      <%= link_to worker_homes_path, class:"worker" do %>
        <p>従業員専用ページ</p>
      <% end %>
    </div>

    <div class="footer-key">
      <div class="telephone">
        <%= image_tag "telephone.png", class:"icon" %>
        <p>000-0000-0000</p>
      </div>
    </div>

  </div>

</div>
