<head>
  <%= stylesheet_link_tag 'components/menu' %>
  <%= stylesheet_link_tag 'colorbox/colorbox' %>
</head>

<div class="menu" id="menu">

  <div class="menu-title-bar">
    <h2>MENU</h2>
  </div>

  <div class="menu-contents">

    <div class="type">

      <div class="type-name">
        <p>ドリンク</p>
      </div>

      <div class="type-content" >

        <% if @menus_drink.present? %>

          <div class="item-contents">

            <% @menus_drink.first(3).each do |drink| %>

              <div class="menu-content">

                <div class="menu-image">
                  <%= image_tag drink.image, class:"menu-image-tag"%>
                </div>

                <div class="menu-text">
                  <p class="name-border"><%= drink.name %></p>
                  <p><%= "¥#{drink.price}" %><p>
                </div>

              </div>

            <% end %>

          </div>

        <% else %>

          <p>現在取扱商品がございません</p>

        <% end%>

      </div>

    </div>

    <div class="type">

      <div class="type-name">
        <p>フード</p>
      </div>

      <div class="type-content" >

        <% if @menus_food.present? %>

          <div class="item-contents">

            <% @menus_food.first(3).each do |food| %>

              <div class="menu-content">

                <div class="menu-image">
                  <%= image_tag food.image, class:"menu-image-tag"%>
                </div>

                <div class="menu-text">
                  <p class="name-border"><%= food.name %></p>
                  <p><%= "¥#{food.price}" %><p>
                </div>

              </div>

            <% end %>

          </div>

        <% else %>

          <p>現在取扱商品がございません</p>

        <% end%>

      </div>

    </div>

    <div class="type">

      <div class="type-name">
        <p>グッズなど</p>
      </div>

      <div class="type-content" >

        <% if @menus_option.present? %>

          <div class="item-contents">

            <% @menus_option.first(3).each do |option| %>

              <div class="menu-content">

                <div class="menu-image">
                  <%= image_tag option.image, class:"menu-image-tag"%>
                </div>

                <div class="menu-text">
                  <p class="name-border"><%= option.name %></p>
                  <p><%= "¥#{option.price}" %><p>
                </div>

              </div>

            <% end %>

          </div>

        <% else %>

          <p>現在取扱商品がございません</p>

        <% end%>

      </div>

    </div>

  </div>

</div>
