<%= stylesheet_link_tag 'components/menu' %>
<%= stylesheet_link_tag 'colorbox/colorbox' %>

<div class="contents scroll-anime" id="menu">

  <div class="title-bar menu-title">
    <h2>MENU</h2>
  </div>

  <div class="menu-contents">

    <div class="menu-type">

      <div class="menu-type-name">
        <p>ドリンク</p>
      </div>

      <div class="menu-type-box" >

        <% if @menus_drink.present? %>

          <div class="menu-item-box scroll-anime slide-right">

            <% @menus_drink.each do |drink| %>

              <div class="menu-item">

                <div class="menu-item-image">
                  <%= link_to menu_path(drink.id), class:"iframe" do %>
                    <%= image_tag drink.image %>
                  <% end %>
                </div>

                <div class="menu-item-text">
                  <p class="border"><%= drink.name %></p>
                  <p><%= "¥#{drink.price}" %><p>
                </div>

              </div>

            <% end %>

          </div>

        <% else %>

          <div class="else-sentence">
            <p>現在取扱商品がございません</p>
          </div>

        <% end%>

      </div>

    </div>

    <div class="menu-type">

      <div class="menu-type-name">
        <p>フード</p>
      </div>

      <div class="menu-type-box" >

        <% if @menus_food.present? %>

          <div class="menu-item-box scroll-anime slide-left">

            <% @menus_food.each do |food| %>

              <div class="menu-item">

                <div class="menu-item-image">
                  <%= link_to menu_path(food.id), class:"iframe" do %>
                    <%= image_tag food.image %>
                  <% end %>
                </div>

                <div class="menu-item-text">
                  <p class="border"><%= food.name %></p>
                  <p><%= "¥#{food.price}" %><p>
                </div>

              </div>

            <% end %>

          </div>

        <% else %>

          <div class="else-sentence">
            <p>現在取扱商品がございません</p>
          </div>

        <% end%>

      </div>

    </div>

    <div class="menu-type">

      <div class="menu-type-name">
        <p>グッズなど</p>
      </div>

      <div class="menu-type-box" >

        <% if @menus_option.present? %>

          <div class="menu-item-box scroll-anime slide-right">

            <% @menus_option.each do |option| %>

              <div class="menu-item">

                <div class="menu-item-image">
                  <%= link_to menu_path(option.id), class:"iframe" do %>
                    <%= image_tag option.image %>
                  <% end %>
                </div>

                <div class="menu-item-text">
                  <p class="border"><%= option.name %></p>
                  <p><%= "¥#{option.price}" %><p>
                </div>

              </div>

            <% end %>

          </div>

        <% else %>

          <div class="else-sentence">
            <p>現在取扱商品がございません</p>
          </div>

        <% end%>

      </div>

    </div>

  </div>

</div>
