<div class="news">

  <div class="news-title-bar">
    <h2>NEWS</h2>
  </div>

  <div class="news-contents">

    <% @news.each do |news| %>

      <div class="news-background">

        <div class="news-content">

          <div class="news-content-image">
            <div class="news-image"><%= image_tag news.image,  class:"news-image-tag"%></div>
          </div>

          <div class="news-content-text">
            <div class="news-data"><p><%= "#{news.created_at.year}.#{news.created_at.month}.#{news.created_at.day}" %></p></div>
            <div class="news-title"><p><%= news.title %></p></div>
            <div class="news-text"><p><%= news.contents %></p></div>
          </div>

        </div>

      </div>

    <% end %>

  </div>

  <div class="catalog-bar">
    <%=  link_to news_index_path, class:"catalog-btn" do %>
      <p>一覧へ</p>
    <% end %>
  </div>

</div>
