<!DOCTYPE html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'menus/new_edit' %>
  </head>

  <body>

    <%= render "components/homebar" %>

    <div class="new-edit-menu">

      <div class="background">

        <div class="contents">

          <div class="title">
            <h2>Edit Menu</h2>
          </div>

          <%= render 'components/error_messages', model:@menu %>

          <%= form_with model: @menu, url: menu_path(@menu.id), class:"form", local: true do |f| %>

            <div class="type-title">
              <p>メニューの種類を選択</p>
              <%= f.collection_select(:type_id, Type.all, :id, :name, {}, {class:"select", id:"menu-type"}) %>
              <span class="error" id="menu-type-error">種類を選択してください</span>
            </div>

            <div class="content">

              <div class="image">

                <div class="image-select">
                  <p>画像選択</p>
                  <%= f.file_field :image, id:"input-image"%>
                </div>

                <div class="preview">
                  <div class="preview-size" id="preview">
                  </div>
                </div>

              </div>

              <div class="text">

                <div class="name-price">

                  <div class="each">
                    <p>名前</p>
                    <%= f.text_field :name, class:"each-input", id:"menu-name" %>
                    <span class="error" id="menu-name-error">名前を入力してください</span>
                  </div>

                  <div class="each">
                    <p>値段</p>
                    <p>¥<%= f.text_field :price, class:"each-input", id:"menu-price"  %></p>
                    <span class="error" id="menu-price-error">値段を入力してください</span>
                  </div>

                </div>

                <div class="description">
                  <p>説明文</p>
                  <%= f.text_area :description, class:"description-input", id:"menu-description" %>
                  <span class="error" id="menu-description-error">説明文を入力してください</span>
                </div>

                <div class="form-btn">
                  <%= f.submit "編集する", class:"btn" %>
                  <%= link_to menus_path, class:"btn" do %>
                    <p>戻る</p>
                  <% end %>
                </div>

              </div>

            </div>

          <% end %>

        </div>

      </div>

    </div>

    <%= render "components/footer_second" %>

  </body>

</html>
