<!DOCTYPE html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'menus/index' %>
  </head>

  <body>

    <%= render "components/homebar" %>

    <div class="menu-index">

    <div class="title">
      <h2>MENU</h2>
    </div>

    <div class="contents">

      <div class="background">

        <div class="menu-background">

          <div class="type">

            <div class="type-title">
              <p>ドリンク</p>
            </div>

            <% if @menus_drink.present? %>

              <% @menus_drink.each do |drink| %>
                <div class="content">

                  <div class="item">

                    <div class="image-box">
                      <%= image_tag drink.image, class:"image" %>
                    </div>

                    <div class="text">

                      <div class="name-price">

                        <div class="name">
                          <p><%= drink.name %></p>
                        </div>

                        <div class="price">
                          <p><%="¥#{drink.price}"%></p>
                        </div>

                      </div>

                      <div class="description">
                        <div class="flame">
                          <p><%= drink.description %></p>
                        </div>
                      </div>

                      <% if user_signed_in? %>
                        <div class="worker-btn">

                          <%= link_to edit_menu_path(drink.id), class:"btn" do %>
                            <p>編集</p>
                          <% end %>

                          <%= link_to menu_path(drink.id),class:"btn", method: :delete do %>
                            <p>削除</p>
                          <% end %>

                        </div>
                      <% end %>

                    </div>

                  </div>

                </div>
              <% end %>

            <% else %>

              <div class="else-sentence">
                <p>現在取扱商品がございません</p>
              </div>

            <% end %>

          </div>

          <div class="type">

            <div class="type-title">
              <p>フード</p>
            </div>

            <%if @menus_food.present?%>

              <% @menus_food.each do |food| %>
                <div class="content">

                  <div class="item">

                    <div class="image-box">
                      <%= image_tag food.image, class:"image" %>
                    </div>

                    <div class="text">

                      <div class="name-price">

                        <div class="name">
                          <p><%= food.name %></p>
                        </div>

                        <div class="price">
                          <p><%="¥#{food.price}"%></p>
                        </div>

                      </div>

                      <div class="description">
                        <div class="flame">
                          <p><%= food.description %></p>
                        </div>
                      </div>

                      <% if user_signed_in? %>
                        <div class="worker-btn">

                          <%= link_to edit_menu_path(food.id), class:"btn" do %>
                            <p>編集</p>
                          <% end %>

                          <%= link_to menu_path(food.id),class:"btn", method: :delete do %>
                            <p>削除</p>
                          <% end %>

                        </div>
                      <% end %>

                    </div>

                  </div>

                </div>
              <% end %>

            <% else %>

              <div class="else-sentence">
                <p>現在取扱商品がございません</p>
              </div>

            <% end %>

          </div>

          <div class="type">

            <div class="type-title">
              <p>その他</p>
            </div>

            <%if @menus_option.present? %>

              <% @menus_option.each do |option| %>
                <div class="content">

                  <div class="item">

                    <div class="image-box">
                      <%= image_tag option.image, class:"image" %>
                    </div>

                    <div class="text">

                      <div class="name-price">

                        <div class="name">
                          <p><%= option.name %></p>
                        </div>

                        <div class="price">
                          <p><%="¥#{option.price}"%></p>
                        </div>

                      </div>

                      <div class="description">
                        <div class="flame">
                          <p><%= option.description %></p>
                        </div>
                      </div>

                      <% if user_signed_in? %>
                        <div class="worker-btn">

                          <%= link_to edit_menu_path(option.id), class:"btn" do %>
                            <p>編集</p>
                          <% end %>

                          <%= link_to menu_path(option.id),class:"btn", method: :delete do %>
                            <p>削除</p>
                          <% end %>

                        </div>
                      <% end %>

                    </div>

                  </div>

                </div>
              <% end %>

            <% else %>

              <div class="else-sentence">
                <p>現在取扱商品がございません</p>
              </div>

            <% end %>

          </div>

        </div>

      </div>

    </div>

    </div>

    <%= render "components/footer_second" %>

  </body>

</html>
