<!DOCTYPE html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=devise-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'news_menus/new_edit' %>
  </head>

  <body>

    <%= render "components/homebar" %>

    <div class="new-edit">

    <%= render 'components/error_messages', model:@menu %>

      <div class="new-edit-background menu-background">

        <div class="new-edit-contents">

          <div class="new-edit-title">
            <h2>New Menu</h2>
          </div>

          <%= form_with model: @menu, url: menus_path, class:"new-edit-form", local: true do |f| %>

            <div class="menu-type">
              <div class="menu-type-title">
                <p>メニューの種類を選択</p>
                <%= f.collection_select(:type_id, Type.all, :id, :name, {}, {class:"menu-type-select", id:"menu-type"}) %>
                <span class="error" id="menu-type-error">種類を選択してください</span>
              </div>
            </div>

            <div class="new-edit-box">

              <div class="menu-image">

                <div class="menu-image-select">
                  <p>画像選択</p>
                  <%= f.file_field :image, id:"input-image" %>
                </div>

                <div class="menu-preview">
                  <div class="preview-size" id="preview">
                  </div>
                </div>

              </div>

              <div class="menu-text">

                <div class="menu-common-box">

                  <div class="menu-common">
                    <p>名前</p>
                    <%= f.text_field :name, class:"menu-common-input", placeholder:"16字以内", id:"menu-name" %>
                    <span class="error" id="menu-name-error">名前を入力してください</span>
                  </div>

                  <div class="menu-common">
                    <p>値段</p>
                    <p>¥<%= f.text_field :price, class:"menu-common-input", placeholder:"9999まで", id:"menu-price"  %></p>
                    <span class="error" id="menu-price-error">値段を入力してください</span>
                  </div>

                </div>

                <div class="menu-description">
                  <p>説明文</p>
                  <%= f.text_area :description, class:"menu-description-input", placeholder:"180字以内(改行やスペースを使う場合180(縦10×横18)字以内でも文字がはみ出してしまい、表示されない場合がございますので一覧ページでご確認の上、編集をお願い致します)", id:"menu-description" %>
                  <span class="error" id="menu-description-error">説明文を入力してください</span>
                </div>

                <div class="new-edit-form-btn">
                  <%= f.submit "出品する", class:"btn" %>
                  <%= link_to "/homes/worker", class:"btn" do %>
                    <p>戻る</p>
                  <% end %>
                </div>

              </div>

            </div>

          <% end %>

        </div>

      </div>

    </div>

    <%= render "components/footer" %>

  </body>

</html>
