<!DOCTYPE html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'menus/new' %>
  </head>

  <body>

    <%= render "components/homebar" %>

    <div class="new-menu">

      <div class="background">

        <div class="contents">

          <div class="title">
            <h2>New Menu</h2>
          </div>

        </div>

      </div>

    </div>

    <%= render "components/footer_second" %>

  </body>

</html>

<div>new</div>
<%= form_with model: @menu, url: menus_path, local: true do |f| %>

 <%= render "/shared/error_messages", model: @menu %>

<div>
  <%= f.label :image, "画像" %><br />
  <%= f.file_field :image %>
</div>

<div>
  <%= f.label :name, "名前" %><br />
  <%= f.text_field :name %>
</div>

<div>
  <%= f.label :description, "説明" %><br />
  <%= f.text_area :description %>
</div>

<div>
  <%= f.label :price, "値段" %><br />
  <%= f.text_field :price %>
</div>

<%= f.collection_select(:type_id, Type.all, :id, :name, {}, {class:"select"}) %>


<div class="sell-btn-contents">
      <%= f.submit "出品する", class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>

<% end %>

