<div>menu</div>

<%= image_tag @menu.image, width:"300px", height:"300px" %>
<%= @menu.name %>
<%= @menu.description %>
<%= @menu.price %>

<% if user_signed_in? %>
<%= link_to '編集', edit_menu_path(@menu.id) %>
<%= link_to '削除', menu_path(@menu.id), method: :delete %>
<%= link_to '戻る', menus_path %>

<% end %>


