    <%= stylesheet_link_tag 'shared/footer' %>

    <footer>

    <div class="footer-contents">

      <div>
        <%= image_tag 'map.jpg', class:"image" %>
      </div>

      <div>
        <ul>
          <li>アメリカ町フランス区</li>
          <li>000-0000-0000</li>
          <li>イタリア曜日 定休</li>
        </ul>
      </div>

    </div>

    <div class="footer-bar">
      <ul>
        <li><%= link_to "home", root_path %></li>
        <li><%#= link_to "news", news_homes_path %></li>
        <li><%= link_to "menu", menus_path %></li>
        <li><%= link_to "contact", contacts_path %></li>
        <li><%= link_to "access", access_homes_path %></li>
      </ul>
    </div>

    </footer>
