    <%= stylesheet_link_tag 'shared/header' %>
    <link href="https://fonts.googleapis.com/css2?family=Unkempt:wght@700&display=swap" rel="stylesheet">



    <div class="home-title">

      <div class="home-title-name">
        <%= link_to "GRAPHIC CAFE", root_path, class:"root-link"%>
      </div>

    </div>

    <div class="menu-bar">
      <ul >
        <li><%= link_to "home", root_path %></li>
        <li><%= link_to "menu", menus_path %></li>
        <li><%= link_to "contact", contacts_path %></li>
        <li><%= link_to "access", access_homes_path %></li>
      </ul>
    </div>

        <div class="home">

      <div class="home-background">

        <div class="text-box">
          <div class="text-box-text">Text</div>
        </div>

      </div>

    </div>

    <div class="home">

      <div>
        <%= image_tag 'introspection.jpg', class:"home-image" %>
      </div>

      <div class="home-text">
        <div class="home-text-block">
          Text
          <br>
          derisios
        </div>
      </div>

    </div>

    <div class="home">

      <div class="home-text">
        <div class="home-text-block">
          Text
          <br>
          derisios
        </div>
      </div>

      <div class="scroll-anime updown">
        <%= image_tag 'bar.jpg', class:"home-image", id:"image" %>
      </div>

    </div>

    <div class='item-contents'>
    <div>お知らせ</div>
    <ul class='item-lists'>

     <% @news.each do |news| %>
      <li class='list'>
        <%= news.created_at.year %>
        <%= news.created_at.month %>
        <%= news.created_at.day %>
        <%= link_to news_path(news.id) do %>
        <%= news.title %>
        <% end %>
      </li>
      <% end %>

      <% if @news.empty? %>
      <li class='list'>
      <div>現在お知らせはございません</div>
      </li>
      <% end %>
    </ul>
  </div>

    <%= render partial: "shared/footer" %>

    <% if user_signed_in? %>

      <div class="form-btn-background">

        <div class="form-btn">
          <div class="btn">
          <%= link_to "news追加", new_news_path, class:"text" %>
          </div>
        </div>

        <div class="form-btn">
          <div class="btn">
          <%= link_to "menu追加", new_menu_path, class:"text" %>
          </div>
        </div>

      </div>

    <% end %>
