<!DOCTYPE html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'news/new_edit' %>
  </head>

  <body>

    <%= render "components/homebar" %>

    <div class="new-edit-news">

      <div class="background">

        <div class="contents">

          <div class="title">
            <h2>Edit News</h2>
          </div>

          <%= render "components/error_messages", model: @news %>

          <%= form_with model: @news, url: news_path, class:"form", local: true do |f| %>

            <div class="content">

              <div class="image-select">
                <p>画像選択</p>
                <%= f.file_field :image, id:"input-image" %>
              </div>

              <div class="preview">
                <div class="preview-size" id="preview">
                </div>
              </div>

            </div>

            <div class="content">

              <div class="news-title">
                <p>タイトル</p>
                <%= f.text_field :title, class:"title-input" %>
              </div>

              <div class="news-contents">
                <p>内容</p>
                <%= f.text_area :contents, class:"contents-input" %>
              </div>

              <div class="btns">

                <%= f.submit "変更する", class:"btn" %>

                <%= link_to news_index_path, class:"btn"  do %>
                  <p>戻る</p>
                <% end %>

              </div>

            </div>

          <% end %>

        </div>

      </div>

    </div>

    <%= render "components/footer_second" %>

  </body>

</html>
