new
<%= form_with model: @news, url: news_index_path, local: true do |f| %>

 <%= render "/shared/error_messages", model: @news %>

<div>
  <%= f.label :image, "画像" %><br />
  <%= f.file_field :image %>
</div>

<div>
  <%= f.label :title, "タイトル" %><br />
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :contents, "内容" %><br />
  <%= f.text_area :contents %>
</div>

<div class="sell-btn-contents">
    <%= f.submit "投稿する", class:"sell-btn" %>
    <%=link_to 'もどる', root_path, class:"back-btn" %>
</div>

<% end %>
