<!DOCTYPE html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'news/new_edit' %>
  </head>

  <body>

    <%= render "components/homebar" %>

    <div class="new-edit-news">

      <div class="background">

        <div class="contents">

          <div class="title">
            <h2>New News</h2>
          </div>

          <%= render 'components/error_messages', model:@news %>

          <%= form_with model: @news, url: news_index_path, class:"form", local: true do |f| %>

            <div class="content">

              <div class="image-select">
                <p>画像選択</p>
                <%= f.file_field :image, id:"input-image" %>
              </div>

              <div class="preview">
                <div class="preview-size" id="preview">
                </div>
              </div>

            </div>

            <div class="content">

              <div class="news-title">
                <p>タイトル</p>
                <%= f.text_field :title, class:"title-input", placeholder:"40字以内", id:"news-title" %>
                <span class="error" id="news-title-error">タイトルを入力してください</span>
              </div>

              <div class="news-contents">
                <p>内容</p>
                <%= f.text_area :contents, class:"contents-input", placeholder:"最大300字以内(改行やスペースを使う場合300字以内でも文字がはみ出してしまい、表示されない場合がございますので一覧ページでご確認の上、編集をお願い致します)", id:"news-contents" %>
                <span class="error" id="news-contents-error">内容を入力してください</span>
              </div>

              <div class="form-btn">

                <%= f.submit "投稿する", class:"btn" %>

                <%= link_to "/homes/worker", class:"btn"  do %>
                  <p>戻る</p>
                <% end %>

              </div>

            </div>

          <% end %>

        </div>

      </div>

    </div>

    <%= render "components/footer_second" %>

  </body>

</html>

