<!DOCTYPE html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'news/show' %>
  </head>

  <body>

    <div class="news-item-background">

      <div class="news-item">

        <div class="news-item-text-box">

          <div class="news-item-data">
            <p><%= "#{@news.created_at.year}.#{@news.created_at.month}.#{@news.created_at.day}" %></p>
          </div>

          <div class="news-item-title">
            <p>【<%= @news.title %>】</p>
          </div>

          <div class="news-item-contens">
            <div class="news-item-contents-textarea">
              <p><%= @news.contents %></p>
            </div>
          </div>

        </div>

        <div class="news-item-image-box">

          <div class="news-item-image">
            <%= image_tag @news.image, class:"news-item-image-size" %>
          </div>

          <% if user_signed_in? %>
            <div class="worker-btn">

              <%= link_to edit_news_path(@news.id), class:"btn" do %>
                <p>編集</p>
              <% end %>

              <%= link_to news_path(@news.id),class:"btn", method: :delete do %>
                <p>削除</p>
              <% end %>

            </div>
          <% end %>

        </div>

      </div>

    </div>

  </body>

</html>

