<!DOCTYPE html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'contacts/index' %>
  </head>

  <body>

    <%= render partial: "shared/header" %>

    <div class="menu-title">
      <h1>contact</h1>
    </div>

    <%= form_with model: @contact, url: contacts_path, local: true do |f| %>

    <div class="contact-box">

      <%= render "/shared/error_messages", model: @contact %>


      <div class="email-box">
          <%= f.text_field :mail, placeholder:"メールアドレス" %>
      </div>

      <div class="phone-number-box">
          <%= f.text_field :phone_number, placeholder:"電話番号" %>
      </div>

      <div class="select-box">
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}) %>
      </div>

      <div class="text-box">
        <%= f.text_area :content, placeholder:"内容を入力してください" %>
      </div>

      <div class="select-box">
        <%= f.collection_select(:reply_id, Reply.all, :id, :name, {}) %>
      </div>

      <%= f.submit "送信する", class:"btn" %>

      <% end %>


    </div>
    <% unless user_signed_in? %>
      <div class="secret">

        <div class="secret-btn">
          <%= link_to "従業員ログイン", new_user_session_path, class:"text" %>
        </div>

        <div class="secret-btn">
          <%= link_to "従業員サインイン", new_user_registration_path, class:"text" %>
        </div>

      </div>
    <% end %>

    <%= render partial: "shared/footer" %>

  </body>

</html>
