<!DOCTYPE html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'contacts/index' %>
  </head>

  <body>

    <%= render partial: "shared/header" %>

    <div class="menu-title">
      <h1>contact</h1>
    </div>




    </div>
    <% unless user_signed_in? %>
      <div class="secret">

        <div class="secret-btn">
          <%= link_to "従業員ログイン", new_user_session_path, class:"text" %>
        </div>

        <div class="secret-btn">
          <%= link_to "従業員サインイン", new_user_registration_path, class:"text" %>
        </div>

      </div>
    <% end %>

    <%= render partial: "shared/footer" %>

  </body>

</html>
