<!DOCTYPE html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'contacts/index' %>
  </head>

  <body>

    <%= render partial: "shared/header" %>

    <div class="menu-title">
      <h1>contact</h1>
    </div>

    <div class="contact-box">

      <div class="email-box">
        <input type="text" placeholder="email" value="" />
      </div>

      <div class="phone-number-box">
        <input type="text" placeholder="phone-number" value="" />
      </div>

      <div class="select-box">
        <select name="category">
          <option>test</option>
          <option>sample</option>
          <option>hoge</option>
        </select>
      </div>

      <div class="text-box">
        <textarea placeholder="要件を入力してください" value=""></textarea>
      </div>

      <div class="select-box">
        <select name="reply">
          <option>test</option>
          <option>sample</option>
          <option>hoge</option>
        </select>
      </div>

      <input id="button" class="btn" type="button" name="submit" value="submit" />


    </div>
    <% unless user_signed_in? %>
      <div class="secret">

        <div class="secret-btn">
          <%= link_to "従業員ログイン", new_user_session_path, class:"text" %>
        </div>

        <div class="secret-btn">
          <%= link_to "従業員サインイン", new_user_registration_path, class:"text" %>
        </div>

      </div>
    <% end %>

    <%= render partial: "shared/footer" %>

  </body>

</html>
