<!DOCTYPE html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
    <% content_for :css do %>
      <%= stylesheet_link_tag 'homes/access' %>
    <% end %>
  </head>

  <body>

    <%= render partial: "shared/header" %>

    <div class="menu-title">
      <h1>access</h1>
    </div>

    <div class="access-background">
      <div>
        <ul>
          <li>住所:アメリカ県フランス町<li>
          <li>電話番号:000-0000-0000<li>
          <li>最寄駅:イタリア駅<li>
          <li>ルート:イタリア駅オランダ口から徒歩0分<li>
          <li>営業時間:10:00~19:00<li>
          <li>定休日:イギリス曜日<li>
        </ul>
      </div>
    </div>

    <div class="access-news">

      <div>

        <h4>注意事項</h4>

        <ul>
          <li>*感染予防対策としてお酒の提供はしておりません</li>
          <li>*2人以上での来店はお断りしております</li>
        </ul>

      </div>

    </div>

    <%= render partial: "shared/footer" %>

  </body>

</html>





        <div class="phone-number-box">
            <%= f.text_field :phone_number, placeholder:"電話番号" %>
        </div>

        <div class="select-box">
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}) %>
        </div>

        <div class="text-box">
          <%= f.text_area :content, placeholder:"内容を入力してください" %>
        </div>

        <div class="select-box">
          <%= f.collection_select(:reply_id, Reply.all, :id, :name, {}) %>
        </div>

        <%= f.submit "送信する", class:"btn" %>
