<!DOCTYPE html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
    <% content_for :css do %>
      <%= stylesheet_link_tag 'homes/contact' %>
    <% end %>
  </head>

  <body>

    <div class="box">

      <div class="circle a"></div>
      <div class="circle b"></div>
      <div class="circle c"></div>

      <div class="circle d"></div>
      <div class="circle e"></div>
      <div class="circle f"></div>

      <div class="circle g"></div>
      <div class="circle h"></div>
      <div class="circle i"></div>

      <div class="circle j"></div>
      <div class="circle k"></div>
      <div class="circle l"></div>

      <div class="circle m"></div>
      <div class="circle n"></div>
      <div class="circle o"></div>

      <div class="circle p"></div>
      <div class="circle q"></div>
      <div class="circle r"></div>

    </div>

    <div class="home-title">

      <div class="home-title-name">
        <h1>GRAPHIC CAFE</h1>
      </div>

      <div class="home-title-date">
        <div>
          000-0000-0000
          <br>
          00city to 00-00
        </div>
      </div>

    </div>

    <div class="menu-bar">
      <ul >
        <li><%= link_to "news", news_homes_path %></li>
        <li><a>menu</a></li>
        <li><%= link_to "contact", contact_homes_path %></li>
        <li><%= link_to "access", access_homes_path %></li>
      </ul>
    </div>

    <div class="menu-title">
      <h1>contact</h1>
    </div>

    <footer>

    <div class="footer-contents">
      <div>map</div>
      <div>details</div>
    </div>

    <div class="footer-bar">
      <ul>
        <li><%= link_to "news", news_homes_path %></li>
        <li><a>menu</a></li>
        <li><%= link_to "contact", contact_homes_path %></li>
        <li><%= link_to "access", access_homes_path %></li>
      </ul>
    </div>

    </footer>

  </body>

</html>
