<!DOCTYPE html>
<html>

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L198K41KBM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-L198K41KBM');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-54T44HN');</script>
    <!-- End Google Tag Manager -->

    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=devise-width, initial-scale=1.0">

    <script>
      $(document).ready(function(){
          $(".iframe").colorbox({iframe:true, width:"90%", height:"90%"});
      });
    </script>

    <%= stylesheet_link_tag 'homes/index' %>
    <%= stylesheet_link_tag 'colorbox/colorbox' %>

  </head>

  <body id="top">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-54T44HN"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

    <%= render 'components/contents_bar' %>

    <%= render 'components/error_messages', model:@contact %>
    <% if flash[:submit] %>
      <%= render 'components/notice_messages' %>
    <% end %>

    <%= render 'components/top' %>

    <%= render 'components/arrow' %>

    <%= render "components/news" %>

    <%= render "components/menu" %>

    <%= render "components/contact" %>

    <%= render "components/access" %>

    <%= render "components/footer" %>

  </body>

</html>
