<!DOCTYPE html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
    <%= stylesheet_link_tag 'homes/index' %>
  </head>

  <body>

    <%= render partial: "shared/header" %>

    <div class="home">

      <div class="home-text" id="text">
        <div class="home-text-block">
          Text
          <br>
          derisios
        </div>
      </div>

      <div>
        <%= image_tag 'cafe.jpg', class:"home-image" %>
      </div>

    </div>

    <div class="home">

      <div>
        <%= image_tag 'introspection.jpg', class:"home-image" %>
      </div>

      <div class="home-text">
        <div class="home-text-block">
          Text
          <br>
          derisios
        </div>
      </div>

    </div>

    <div class="home">

      <div class="home-text">
        <div class="home-text-block">
          Text
          <br>
          derisios
        </div>
      </div>

      <div>
        <%= image_tag 'bar.jpg', class:"home-image" %>
      </div>

    </div>

    <%= render partial: "shared/footer" %>

  </body>

</html>
