<!DOCTYPE html>
<html>

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L198K41KBM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-L198K41KBM');
    </script>

    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=devise-width, initial-scale=1.0">

    <script>
      $(document).ready(function(){
          $(".iframe").colorbox({iframe:true, width:"90%", height:"90%"});
      });
    </script>

    <%= stylesheet_link_tag 'homes/index' %>
    <%= stylesheet_link_tag 'colorbox/colorbox' %>

  </head>

  <body id="top">

    <%= render 'components/contents_bar' %>

    <%= render 'components/error_messages', model:@contact %>
    <% if flash[:submit] %>
      <%= render 'components/notice_messages' %>
    <% end %>

    <%= render 'components/top' %>

    <%= render 'components/arrow' %>

    <%= render "components/news" %>

    <%= render "components/menu" %>

    <%= render "components/contact" %>

    <%= render "components/access" %>

    <%= render "components/footer" %>

  </body>

</html>
