<!DOCTYPE html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">

    <script>
      $(document).ready(function(){
          $(".iframe").colorbox({iframe:true, width:"90%", height:"90%"});
      });
    </script>

    <%= stylesheet_link_tag 'homes/index' %>
    <%= stylesheet_link_tag 'colorbox/colorbox' %>

  </head>

  <body id="top">

    <%= render 'components/contents_bar' %>

    <%= render 'components/error_messages', model:@contact %>
    <% if flash[:submit] %>
      <%= render 'components/notice_messages' %>
    <% end %>

    <%= render 'components/top' %>

    <%= render 'components/arrow' %>

    <%= render "components/news" %>

    <%= render "components/menu" %>

    <%= render "components/contact" %>

    <%= render "components/access" %>

    <%= render "components/footer" %>

  </body>

</html>
