<!DOCTYPE html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
    <% content_for :css do %>
      <%= stylesheet_link_tag 'homes/news' %>
    <% end %>
  </head>

  <body>

    <div class="home-title">

      <div class="home-title-name">
        <%= link_to "GRAPHIC CAFE", root_path, class:"root-link"%>
      </div>

      <div class="home-title-date">
        <div>
          000-0000-0000
          <br>
          00city to 00-00
        </div>
      </div>

    </div>

    <div class="menu-bar">
      <ul >
        <li><%= link_to "home", root_path %></li>
        <li><%= link_to "news", news_homes_path %></li>
        <li><a>menu</a></li>
        <li><%= link_to "contact", contact_homes_path %></li>
        <li><%= link_to "access", access_homes_path %></li>
      </ul>
    </div>

    <div class="menu-title">
      <h1>news</h1>
    </div>


    <footer>

    <div class="footer-contents">
      <div><%= image_tag 'map.jpg', class:"image" %></div>
      <div>details</div>
    </div>

    <div class="footer-bar">
      <ul>
        <li><%= link_to "home", root_path %></li>
        <li><%= link_to "news", news_homes_path %></li>
        <li><a>menu</a></li>
        <li><%= link_to "contact", contact_homes_path %></li>
        <li><%= link_to "access", access_homes_path %></li>
      </ul>
    </div>

    </footer>

  </body>

</html>
