<!DOCTYPE html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'devise/reg_ses' %>
  </head>

  <body>

    <%= render "components/homebar" %>

    <div class="devise">

    <% if flash[:alert] %>
      <%= render 'components/session_error' %>
    <% end %>

      <div class="devise-background log-in">

        <div class="devise-contents">

          <div class="devise-title">
            <h2>Log in</h2>
          </div>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class:"devise-form"}) do |f| %>

            <div class="devise-common-box">
              <p>メールアドレス</p>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"devise-common-input", id:"user-mail" %>
              <span class="error" id="user-mail-error">メールアドレスを入力してください</span>
            </div>

            <div class="devise-common-box">
              <p>パスワード</p>
              <%= f.password_field :password, autocomplete: "current-password", class:"devise-common-input", id:"password" %>
              <span class="error" id="password-error">パスワードを入力してください</span>
            </div>

            <div class="devise-common-box">
              <%= f.submit "Log in", class:"devise-form-btn"%>
            </div>

          <% end %>

        </div>

      </div>

    </div>

    <%= render "components/footer" %>

  </body>

</html>
