<!DOCTYPE html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'devise/session' %>
  </head>

  <body>

    <%= render partial: "shared/header" %>

    <div class="menu-title">
      <h1>従業員専用</h1>
    </div>

    <div class="sign-title">
      <h2>Log in</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="sign-form">

        <%= render "/shared/error_messages", model: @user %>

        <div class="contents">
          <div>
            <h3>email</h3>
          </div>
          <div class="input">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メール" %>
          </div>
        </div>

        <div class="contents">
          <div>
            <h3>password</h3>
          </div>
          <div class="input">
          <%= f.password_field :password, autocomplete: "current-password", placeholder:"パスワード" %>
          </div>
        </div>

      </div>

      <div class="btn">
        <%= f.submit "Log in", class:"form-btn"%>
      </div>

    <% end %>

    <%= render partial: "shared/footer" %>

  </body>

</html>
